@model bbmscore.Models.ViewModel.CampainRequest
@{
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-md-6 mb-3">
            <h2 class="h3 mb-4">Adding Camp Details</h2>
            <form method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-sm" id="CampName" asp-for="Organazation">
                    <label for="CampName"class="col-form-label">Organization Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-sm" id="CampName"  asp-for="OrganizerName">
                    <label for="CampName" class="col-form-label">Origanizer Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control form-control-sm" id="CampName"  asp-for="Phone">
                    <label for="CampName" class="col-form-label">Origanizer Phone numuber</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control form-control-sm" id="CampName"  asp-for="Date">
                    <label for="CampName" class="col-form-label">Date To Campain</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="Content" asp-for="Description"></textarea>
                    <label class="form-label" for="describe" >Describe</label>
                </div>
                <div class="">
                       <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="text-decoration-none btn btn-dark" asp-action="Index" asp-controller="Home">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
