@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-center">
<div class="col-md-6 mt-5">
    <p>You don't have access to this page</p>
</div>
</div>
